body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.73)), url(../img/backgrond.png);
  background-size: cover;
  background-attachment: fixed;

}


.navbar-brand {
  font-family: monospace;
  font-size: 40px;

}


.card-img-top {
  width: 19rem;
  height: 18rem;
}


.contact-text {
  width: 19rem;
  height: 35rem;
}


#logo {
  height: 50px;
  width: 150px;

}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  display: block;
  margin: auto;
}